<nav>
  <a href="#" (click)='nav("inicio")'>Inicio</a>
  <a href="#" (click)='nav("persona")'>Insertar Persona</a>
  <a href="#" (click)='nav("listado")'>Listado de Personas</a>
</nav>
<div *ngIf="pag_inicio">
  <h1>PRUEBA DE CONOCIMIENTOS</h1>
</div>
<div *ngIf="pag_listado">
  <table>
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Cédula</th>
        <th>Dirección</th>
        <th>Fecha Creacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas">
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellido}}</td>
        <td>{{persona.cedula}}</td>
        <td>{{persona.direccion}}</td>
        <td>{{persona.creado}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="pag_persona">
  <form [formGroup]="personForm" (submit)="nuevaPersona()">
    <input type="text" formControlName="nombre">
    <input type="text" formControlName="apellido">
    <input type="number" formControlName="cedula">
    <input type="text" formControlName="direccion">
    <button type="submit" class="btn btn-default" [disabled]="!personForm.valid">Guardar</button>
  </form>
</div>